.wrapper {
  position: relative;
  padding-top: rem(10px);
  padding-bottom: rem(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: rem(1px) solid var(--mantine-color-gray-4);
  border-radius: rem(5px);
  background-color: var(--mantine-color-gray-2);
}

.dropzone {
  border-width: rem(1px);
  padding-bottom: rem(20px);
}

.icon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.control {
  position: absolute;
  width: rem(250px);
  left: calc(50% - rem(125px));
  bottom: rem(-20px);
}
